body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
nav {
    font-size: 24px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid black;
}

form {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}


.books-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.books-container > div{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px;
}

button {
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1.5px 2.5px;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
    box-shadow: 1.25px 2.5px;
}


